<section id="resume">

    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">

       <div class="three columns header-col">
          <h1><span>Education</span></h1>
       </div>

       <div class="nine columns main-col">

          <div class="row item">

             <div class="twelve columns">

                <h3><strong>Chita Institute (branch) of Baikal state University</strong></h3>
                <p class="info">2014-2018</p>

                <p><strong>Direction:</strong> Applied Informatics</p>
                <p><strong>Profile:</strong> Information systems and technologies in management</p>
                <p><strong>Qualification:</strong> Bachelor</p>
                <p>In June 2018, a graduation project was defended based on the design and development of an information system for accounting for additional educational services for outside students in a higher education institution (on the example of the Chita Institute (branch) of Baikal State University).
                This information system has been developed together with my groupmate.</p>

             </div>

          </div> <!-- item end -->

       </div> <!-- main-col end -->

    </div> <!-- End Education -->


    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">

       <div class="three columns header-col">
          <h1><span>Work</span></h1>
       </div>

       <div class="nine columns main-col">

             <div class="row item">

                   <div class="twelve columns">
    
                      <h3><strong>Freelance</strong></h3>
                      <p class="info">Web developer <span>&bull;</span> <em class="date">January 2019 - Present</em></p>
                      <p>Participation in the development of sites (using php-Yii framework) for the following clients:</p>
                      <ul>
                         <li>Newspaper "Vechorka" (Chita)</li>
                         <li>Internet-shop "AvtoVelikan"</li>
                      </ul>
    
                   </div>
    
             </div> <!-- item end -->
          
             <div class="row item">

                <div class="twelve columns">

                   <h3><strong>LLC "Master Group"</strong></h3>
                   <p class="info">Web developer <span>&bull;</span> <em class="date">April 2018 - January 2019</em></p>

                   <p>This is a company producing and selling children's gaming attractions (inflatable trampolines, game rooms, playgrounds, etc.). <br/><br/>
                   My responsibilities:</p>
                   <ul>
                      <li>Optimization and support of existing websites of the organization and creation new websites (all sites of this organization are based on WordPress).</li>
                      <li>Creating own plugins for WordPress.</li>
                      <li>Creating a Web API (using ASP.NET Core) for calculating the cost of delivery of products.</li>
                   </ul>
                   <p>All my work is done under the supervision of my mentor. He teaches me and helps me in difficult situations.</p>

                </div>

             </div> <!-- item end -->
          
             <div class="row item">

                <div class="twelve columns">

                   <h3><strong>Chita Institute (branch) of Baikal state University</strong></h3>
                   <p class="info">Specialist in educational and methodical work <span>&bull;</span> <em class="date">September 2016 - April 2018</em></p>
                   <p>My responsibilities:</p>
                   <ul>
                      <li>Implementation of methodological work on the organization of the educational process: the formation of the main documents of the PLO in the areas of training/specialties, representing the whole learning process (curriculum, work programs, schedule of the educational process, schedule, etc.).</li>
                      <li>Participation in the formation of curricula in areas and specialties of training of students (bachelors) in accordance with educational standards.</li>
                      <li>Registration and implementation of computer processing of educational documentation (test, examination, summary statements and other documents related to the academic performance of students).</li>
                   </ul>

                </div>

             </div> <!-- item end -->

       </div> <!-- main-col end -->

    </div> <!-- End Work -->


    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">

       <div class="three columns header-col">
          <h1><span>Skills</span></h1>
       </div>

       <div class="nine columns main-col">

              <div class="bars">

                 <ul class="skills">
                      <li><span class="bar-expand php"></span><em>PHP</em></li>
                      <li><span class="bar-expand c"></span><em>C#</em></li>
                      <li><span class="bar-expand html"></span><em>HTML</em></li>
                      <li><span class="bar-expand css"></span><em>CSS</em></li>
                      <li><span class="bar-expand javascripts"></span><em>JavaScript</em></li>
                      <li><span class="bar-expand git"></span><em>GIT</em></li>
                      <li><span class="bar-expand wordpress"></span><em>Wordpress</em></li>
                  </ul>

              </div><!-- end skill-bars -->

          </div> <!-- main-col end -->

    </div> <!-- End skills -->

 </section>
