#advantages {
    text-align: center;
    color: black;
}
#advantages .advantagesContent {
    padding-top: 95px;
    padding-bottom: 95px;
}
#advantages .advantagesContent h1 {
    margin: 0 0;
    margin-bottom: 35px;
}

.list-group-item {
    border-color: #29116d;
    border-width: 2px;
}